@media only screen and (min-width: 1024px) {
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Italic.ttf");
    font-style: italic;
  }
  .App {
    font-family: "Poppins";
    font-size: 14px;
    color: #242429;
  }
  .App button {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .App button.big {
    padding: 12px 26px 12px 26px;
  }
  nav.navbar.active {
    background-color: white;
  }
  nav.navbar {
    position: fixed;
    z-index: 999;
    min-height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    -webkit-box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.04);
            box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.04);
  }
  nav.navbar .content {
    width: 90%;
  }
  nav.navbar .content .normal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
  }
  nav.navbar .content .normal .logo {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.navbar .content .normal .logo img {
    width: 150px;
  }
  nav.navbar .content .normal .search {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.navbar .content .normal .search .action-search.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar .content .normal .search .action-search:hover {
    -webkit-box-shadow: 0px 3px 12px rgba(36, 36, 41, 0.1);
            box-shadow: 0px 3px 12px rgba(36, 36, 41, 0.1);
  }
  nav.navbar .content .normal .search .action-search {
    display: none;
    -webkit-box-shadow: 0px 3px 6px rgba(36, 36, 41, 0.08);
            box-shadow: 0px 3px 6px rgba(36, 36, 41, 0.08);
    height: 45px;
    width: 300px;
    border-radius: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
  }
  nav.navbar .content .normal .search .action-search .text {
    width: 250px;
  }
  nav.navbar .content .normal .search .action-search .text h4 {
    margin-left: 20px;
    color: #898989;
  }
  nav.navbar .content .normal .search .action-search .circle {
    width: 30px;
    height: 30px;
    background-color: #FBA020;
    border-radius: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
    -webkit-box-shadow: 0px 10px 20px rgba(251, 160, 32, 0.2);
            box-shadow: 0px 10px 20px rgba(251, 160, 32, 0.2);
  }
  nav.navbar .content .normal .search ul.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar .content .normal .search ul.dark li a {
    color: #898989;
  }
  nav.navbar .content .normal .search ul.dark li:hover hr {
    background-color: #242429;
  }
  nav.navbar .content .normal .search ul {
    height: 100%;
    display: none;
  }
  nav.navbar .content .normal .search ul li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    position: relative;
  }
  nav.navbar .content .normal .search ul li a {
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
  }
  nav.navbar .content .normal .search ul li hr {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: transparent;
    border: none;
    -webkit-transition: 200ms;
    transition: 200ms;
    bottom: 15px;
  }
  nav.navbar .content .normal .search ul li:hover hr {
    -webkit-transition: 200ms;
    transition: 200ms;
    background-color: white;
  }
  nav.navbar .content .normal .search ul.hidden {
    display: none;
  }
  nav.navbar .content .normal .nav {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav.navbar .content .normal .nav .pricing {
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.navbar .content .normal .nav .pricing button {
    background-color: white;
    color: #242429;
    -webkit-transition: 200ms;
    transition: 200ms;
    -webkit-box-shadow: 0px 3px 9px rgba(36, 36, 41, 0.06);
            box-shadow: 0px 3px 9px rgba(36, 36, 41, 0.06);
  }
  nav.navbar .content .normal .nav .pricing button:hover {
    color: #FBA020;
    -webkit-transition: 200ms;
    transition: 200ms;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav.navbar .content .normal .nav .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.navbar .content .normal .nav .auth button {
    background-color: #FBA020;
    color: white;
    -webkit-box-shadow: 0px 3px 9px rgba(251, 160, 32, 0.06);
            box-shadow: 0px 3px 9px rgba(251, 160, 32, 0.06);
  }
  nav.navbar .content .extend.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar .content .extend {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(36, 36, 41, 0.08);
  }
  nav.navbar .content .extend .extend-content {
    background-color: white;
    width: 100%;
    height: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.navbar .content .extend .extend-content .form-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 200px;
    width: 760px;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content {
    width: 700px;
    height: 65px;
    background-color: #FAFAFA;
    border: 1px solid rgba(36, 36, 41, 0.3);
    border-radius: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 30px 0px 30px;
    position: relative;
    margin-bottom: 10px;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content hr {
    height: 30px;
    width: 1px;
    border: none;
    background-color: #898989;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content .choose {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content .choose h5 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content .choose h4 {
    margin-left: 15px;
    font-size: 14px;
    color: #898989;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content .circle {
    position: absolute;
    right: 5px;
    background-color: #FBA020;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 24px;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content .choose-location {
    width: 33%;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content .choose-location.active {
    position: absolute;
    z-index: 2;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content .choose-distance {
    width: 33%;
  }
  nav.navbar .content .extend .extend-content .form-main .action-content .choose-type {
    width: 33%;
  }
  nav.navbar .content .extend .extend-content .form-main form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group {
    border-radius: 30px;
    position: absolute;
    width: 300px;
    min-height: 50px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.1);
            box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.1);
    padding: 30px 20px 30px 20px;
    display: none;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .location-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .location-content .box {
    width: 45px;
    height: 45px;
    border: 1px solid #898989;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    color: #FBA020;
    margin-right: 20px;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .location-content .text h4 {
    font-size: 16px;
    color: #898989;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .distance-content {
    position: relative;
    width: 100%;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .distance-content .text {
    margin-bottom: 20px;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .distance-content .text h4 span {
    font-weight: 500;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .distance-content .card-slider {
    margin-bottom: 20px;
    position: relative;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .bg-range {
    background-color: #FBA020;
    opacity: 0.7;
    height: 15px;
    position: absolute;
    top: 2px;
    border-radius: 15px 0px 0px 15px;
    z-index: 8;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    height: 15px;
    background: #FAFAFA;
    outline: none;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    border-radius: 15px;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .slider:hover {
    opacity: 1;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #FBA020;
    -webkit-box-shadow: 0px 5px 15px rgba(251, 160, 32, 0.5);
            box-shadow: 0px 5px 15px rgba(251, 160, 32, 0.5);
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 9;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #FBA020;
    border-radius: 50%;
    cursor: pointer;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .type-content {
    width: 100%;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .type-content ul li {
    margin-bottom: 20px;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .type-content ul li h4 {
    font-weight: 500;
    font-size: 16px;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .type-content ul li p {
    line-height: 24px;
    color: #898989;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .type-content ul li hr {
    display: block;
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background-color: rgba(36, 36, 41, 0.1);
    border: none;
  }
  nav.navbar .content .extend .extend-content .form-main form .form-group .type-content ul li:last-child {
    margin-bottom: 0;
  }
  nav.navbar .content .extend .extend-content .form-main form .location.active {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar .content .extend .extend-content .form-main form .distance.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar .content .extend .extend-content .form-main form .type.active {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar.light .content .normal .search .action-search.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar.light .content .normal .search .action-search:hover {
    -webkit-box-shadow: 0px 3px 12px rgba(36, 36, 41, 0.1);
            box-shadow: 0px 3px 12px rgba(36, 36, 41, 0.1);
  }
  nav.navbar.light .content .normal .search .action-search {
    display: none;
    -webkit-box-shadow: 0px 3px 6px rgba(36, 36, 41, 0.08);
            box-shadow: 0px 3px 6px rgba(36, 36, 41, 0.08);
    height: 45px;
    width: 300px;
    border-radius: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
  }
  nav.navbar.light .content .normal .search .action-search .text {
    width: 250px;
  }
  nav.navbar.light .content .normal .search .action-search .text h4 {
    margin-left: 20px;
    color: #898989;
  }
  nav.navbar.light .content .normal .search .action-search .circle {
    width: 30px;
    height: 30px;
    background-color: #FBA020;
    border-radius: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
    -webkit-box-shadow: 0px 10px 20px rgba(251, 160, 32, 0.2);
            box-shadow: 0px 10px 20px rgba(251, 160, 32, 0.2);
  }
  nav.navbar.light .content .normal .search ul.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar.light .content .normal .search ul.dark li a {
    color: #898989;
  }
  nav.navbar.light .content .normal .search ul.dark li:hover hr {
    background-color: #242429;
  }
  nav.navbar.light .content .normal .search ul {
    color: #898989;
    height: 100%;
    display: none;
  }
  nav.navbar.light .content .normal .search ul li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    position: relative;
  }
  nav.navbar.light .content .normal .search ul li a {
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 5px;
    color: #898989;
  }
  nav.navbar.light .content .normal .search ul li hr {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: transparent;
    border: none;
    -webkit-transition: 200ms;
    transition: 200ms;
    bottom: 15px;
  }
  nav.navbar.light .content .normal .search ul li:hover hr {
    -webkit-transition: 200ms;
    transition: 200ms;
    background-color: #242429;
  }
  nav.navbar.light .content .normal .search ul.hidden {
    display: none;
  }
  nav.navbar.light .content .normal .nav {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav.navbar.light .content .normal .nav .pricing {
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.navbar.light .content .normal .nav .pricing button {
    background-color: white;
    color: #242429;
    -webkit-transition: 200ms;
    transition: 200ms;
    -webkit-box-shadow: 0px 3px 9px rgba(36, 36, 41, 0.06);
            box-shadow: 0px 3px 9px rgba(36, 36, 41, 0.06);
  }
  nav.navbar.light .content .normal .nav .pricing button:hover {
    color: #FBA020;
    -webkit-transition: 200ms;
    transition: 200ms;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav.navbar.light .content .normal .nav .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.navbar.light .content .normal .nav .auth button {
    background-color: #FBA020;
    color: white;
    -webkit-box-shadow: 0px 3px 9px rgba(251, 160, 32, 0.06);
            box-shadow: 0px 3px 9px rgba(251, 160, 32, 0.06);
  }
  nav.navbar.light .content .extend.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar.light .content .extend {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(36, 36, 41, 0.08);
  }
  nav.navbar.light .content .extend .extend-content {
    background-color: white;
    width: 100%;
    height: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.navbar.light .content .extend .extend-content .form-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 200px;
    width: 760px;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content {
    width: 700px;
    height: 65px;
    background-color: #FAFAFA;
    border: 1px solid rgba(36, 36, 41, 0.3);
    border-radius: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 30px 0px 30px;
    position: relative;
    margin-bottom: 10px;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content hr {
    height: 30px;
    width: 1px;
    border: none;
    background-color: #898989;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content .choose {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content .choose h5 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content .choose h4 {
    margin-left: 15px;
    font-size: 14px;
    color: #898989;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content .circle {
    position: absolute;
    right: 5px;
    background-color: #FBA020;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 24px;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content .choose-location {
    width: 33%;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content .choose-location.active {
    position: absolute;
    z-index: 2;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content .choose-distance {
    width: 33%;
  }
  nav.navbar.light .content .extend .extend-content .form-main .action-content .choose-type {
    width: 33%;
  }
  nav.navbar.light .content .extend .extend-content .form-main form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group {
    border-radius: 30px;
    position: absolute;
    width: 300px;
    min-height: 50px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.1);
            box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.1);
    padding: 30px 20px 30px 20px;
    display: none;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .location-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .location-content .box {
    width: 45px;
    height: 45px;
    border: 1px solid #898989;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    color: #FBA020;
    margin-right: 20px;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .location-content .text h4 {
    font-size: 16px;
    color: #898989;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .distance-content {
    position: relative;
    width: 100%;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .distance-content .text {
    margin-bottom: 20px;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .distance-content .text h4 span {
    font-weight: 500;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .distance-content .card-slider {
    margin-bottom: 20px;
    position: relative;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .bg-range {
    background-color: #FBA020;
    opacity: 0.7;
    height: 15px;
    position: absolute;
    top: 2px;
    border-radius: 15px 0px 0px 15px;
    z-index: 8;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    height: 15px;
    background: #FAFAFA;
    outline: none;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    border-radius: 15px;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .slider:hover {
    opacity: 1;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #FBA020;
    -webkit-box-shadow: 0px 5px 15px rgba(251, 160, 32, 0.5);
            box-shadow: 0px 5px 15px rgba(251, 160, 32, 0.5);
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 9;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .distance-content .card-slider .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #FBA020;
    border-radius: 50%;
    cursor: pointer;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .type-content {
    width: 100%;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .type-content ul li {
    margin-bottom: 20px;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .type-content ul li h4 {
    font-weight: 500;
    font-size: 16px;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .type-content ul li p {
    line-height: 24px;
    color: #898989;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .type-content ul li hr {
    display: block;
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background-color: rgba(36, 36, 41, 0.1);
    border: none;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .form-group .type-content ul li:last-child {
    margin-bottom: 0;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .location.active {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .distance.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar.light .content .extend .extend-content .form-main form .type.active {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer {
    width: 100%;
    height: 120px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .content {
    height: 80px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .content .social-media {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .footer .content .social-media .circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FAFAFA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 150ms;
    transition: 150ms;
    font-size: 16px;
  }
  .footer .content .social-media .circle:hover {
    background-color: #FBA020;
    color: white;
    cursor: pointer;
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .footer .content .copyright h4 {
    font-size: 16px;
    font-weight: 500;
  }
  .home-page .main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .home-page .main .bg-main {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .main .bg-main img {
    min-width: 100%;
    min-height: 100%;
  }
  .home-page .main .bg-main .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 41, 0.3);
    z-index: 2;
  }
  .home-page .main .content {
    position: relative;
    z-index: 3;
    width: 90%;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .home-page .main .content .form-main.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .main .content .form-main {
    position: relative;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 200px;
  }
  .home-page .main .content .form-main .action-content {
    height: 65px;
    width: 700px;
    background-color: #FAFAFA;
    border: 1px solid rgba(36, 36, 41, 0.3);
    border-radius: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 30px 0px 30px;
    position: relative;
    margin-bottom: 10px;
  }
  .home-page .main .content .form-main .action-content hr {
    height: 30px;
    width: 1px;
    border: none;
    background-color: #898989;
  }
  .home-page .main .content .form-main .action-content .choose {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .home-page .main .content .form-main .action-content .choose h5 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
  }
  .home-page .main .content .form-main .action-content .choose h4 {
    margin-left: 15px;
    font-size: 14px;
    color: #898989;
  }
  .home-page .main .content .form-main .action-content .circle {
    position: absolute;
    right: 5px;
    background-color: #FBA020;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 24px;
  }
  .home-page .main .content .form-main .action-content .choose-location {
    width: 33%;
  }
  .home-page .main .content .form-main .action-content .choose-location.active {
    position: absolute;
    z-index: 2;
  }
  .home-page .main .content .form-main .action-content .choose-distance {
    width: 33%;
  }
  .home-page .main .content .form-main .action-content .choose-type {
    width: 33%;
  }
  .home-page .main .content .form-main form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page .main .content .form-main form .form-group {
    border-radius: 30px;
    position: absolute;
    width: 300px;
    min-height: 50px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.1);
            box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.1);
    padding: 30px 20px 30px 20px;
    display: none;
  }
  .home-page .main .content .form-main form .form-group .location-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .main .content .form-main form .form-group .location-content .box {
    width: 45px;
    height: 45px;
    border: 1px solid #898989;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    color: #FBA020;
    margin-right: 20px;
  }
  .home-page .main .content .form-main form .form-group .location-content .text h4 {
    font-size: 16px;
    color: #898989;
  }
  .home-page .main .content .form-main form .form-group .distance-content {
    position: relative;
    width: 100%;
  }
  .home-page .main .content .form-main form .form-group .distance-content .text {
    margin-bottom: 20px;
  }
  .home-page .main .content .form-main form .form-group .distance-content .text h4 span {
    font-weight: 500;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider {
    margin-bottom: 20px;
    position: relative;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .bg-range {
    background-color: #FBA020;
    opacity: 0.7;
    height: 15px;
    position: absolute;
    top: 2px;
    border-radius: 15px 0px 0px 15px;
    z-index: 8;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    height: 15px;
    background: #FAFAFA;
    outline: none;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    border-radius: 15px;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .slider:hover {
    opacity: 1;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #FBA020;
    -webkit-box-shadow: 0px 5px 15px rgba(251, 160, 32, 0.5);
            box-shadow: 0px 5px 15px rgba(251, 160, 32, 0.5);
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 9;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #FBA020;
    border-radius: 50%;
    cursor: pointer;
  }
  .home-page .main .content .form-main form .form-group .type-content {
    width: 100%;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li {
    margin-bottom: 20px;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li h4 {
    font-weight: 500;
    font-size: 16px;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li p {
    line-height: 24px;
    color: #898989;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li hr {
    display: block;
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background-color: rgba(36, 36, 41, 0.1);
    border: none;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li:last-child {
    margin-bottom: 0;
  }
  .home-page .main .content .form-main form .location.active {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .main .content .form-main form .distance.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .main .content .form-main form .type.active {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .main .content .title {
    position: absolute;
    top: 300px;
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .main .content .title h1 {
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
  }
  .home-page .main .content .title p {
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 24px;
    margin-top: 15px;
  }
  .home-page .main .content .title button {
    margin-top: 30px;
    background-color: #FBA020;
    color: white;
  }
  .home-page .category .content .content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-page .category .content .content-body .box {
    overflow: hidden;
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 17px;
    cursor: pointer;
  }
  .home-page .category .content .content-body .box .bg.bg-purple {
    background-color: rgba(106, 7, 255, 0.8);
  }
  .home-page .category .content .content-body .box .bg.bg-purple:hover {
    background-color: rgba(106, 7, 255, 0.9);
  }
  .home-page .category .content .content-body .box .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 41, 0);
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 150ms;
    transition: 150ms;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 28px;
    color: white;
  }
  .home-page .category .content .content-body .box .bg h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
  }
  .home-page .category .content .content-body .box .bg:hover {
    -webkit-transition: 150ms;
    transition: 150ms;
    background-color: rgba(36, 36, 41, 0.2);
  }
  .home-page .category .content .content-body .box img {
    position: relative;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
  }
  .home-page .category .content .content-body .box.box-text {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FAFAFA;
  }
  .home-page .category .content .content-body .box.box-text p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  .home-page .category .content .content-body .box.box-text h4 {
    font-size: 16px;
    font-weight: 500;
  }
  .home-page .category .content .content-body .box-3 {
    width: 24%;
  }
  .home-page .category .content .content-body .box-6 {
    width: 49%;
  }
  .home-page .location .content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page .feature .content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .feature .content-body img {
    width: 100%;
  }
  .home-page .feature .content-body .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .feature .content-body .form h2 {
    font-size: 28px;
    font-weight: 600;
    margin-right: 20px;
  }
  .home-page .feature .content-body .form button {
    background-color: #FBA020;
    color: white;
  }
  .createListing-page .main {
    padding-top: 160px;
    padding-bottom: 80px;
    background-color: #FAFAFA;
  }
  .createListing-page .main .content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .createListing-page .main .content-body .card-listing {
    margin-right: auto;
    margin-bottom: 30px;
    width: 350px;
    height: 120px;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: pointer;
  }
  .createListing-page .main .content-body .card-listing .cube__face {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .createListing-page .main .content-body .card-listing .cube__face--front {
    background-color: white;
    border: 1px solid rgba(36, 36, 41, 0.1);
    -webkit-transform: rotateX(0deg) translateZ(100px);
            transform: rotateX(0deg) translateZ(100px);
  }
  .createListing-page .main .content-body .card-listing .cube__face--front .circle {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    color: white;
    margin-bottom: 10px;
  }
  .createListing-page .main .content-body .card-listing .cube__face--bottom {
    -webkit-transform: rotateX(90deg) translateZ(100px);
            transform: rotateX(90deg) translateZ(100px);
    position: relative;
  }
  .createListing-page .main .content-body .card-listing .cube__face--bottom h4 {
    position: absolute;
    color: white;
    bottom: 10px;
  }
  .createListing-page .main .content-body .card-listing:hover {
    -webkit-transform: translateZ(-100px) rotateX(-90deg);
            transform: translateZ(-100px) rotateX(-90deg);
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .createListing-page .main .content-body .card-listing:hover .cube__face--bottom h4 {
    -webkit-transition: 300ms;
    transition: 300ms;
    bottom: 50px;
  }
  .createListing-page .main .content-body .card-listing.card-purple .circle {
    background-color: #6a07ff;
  }
  .createListing-page .main .content-body .card-listing.card-purple .cube__face--bottom {
    background-color: #6a07ff;
  }
  .createListing-page .main .content-body .card-listing.card-pink .circle {
    background-color: #ff4fc1;
  }
  .createListing-page .main .content-body .card-listing.card-pink .cube__face--bottom {
    background-color: #ff4fc1;
  }
  .createListing-page .main .content-body .card-listing.card-blue .circle {
    background-color: #3dc8ff;
  }
  .createListing-page .main .content-body .card-listing.card-blue .cube__face--bottom {
    background-color: #3dc8ff;
  }
  .createListing-page .main .content-body .card-listing.card-orange .circle {
    background-color: #ff8c35;
  }
  .createListing-page .main .content-body .card-listing.card-orange .cube__face--bottom {
    background-color: #ff8c35;
  }
  .createListing-page .main .content-body .card-listing.card-green .circle {
    background-color: #4bd1ab;
  }
  .createListing-page .main .content-body .card-listing.card-green .cube__face--bottom {
    background-color: #4bd1ab;
  }
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .content {
    width: 85%;
  }
  .container .content .content-head {
    margin-bottom: 50px;
  }
  .container .content .content-head h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .container .content .content-head p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
  .container .content .content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-product {
    margin: auto;
    width: 360px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 9px rgba(36, 36, 41, 0.08);
            box-shadow: 0px 3px 9px rgba(36, 36, 41, 0.08);
  }
  .card-product .card-top {
    width: 100%;
    height: 220px;
    position: relative;
  }
  .card-product .card-top .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 13, 30, 0);
    position: absolute;
    z-index: 2;
  }
  .card-product .card-top .bg .box-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 40px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #FBA020;
    color: #FBA020;
  }
  .card-product .card-top img {
    z-index: 1;
    position: relative;
    width: 100%;
    min-height: 100%;
  }
  .card-product .card-bottom {
    height: 120px;
    position: relative;
    background-color: #FBA020;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 3;
  }
  .card-product .card-bottom .title {
    -webkit-transition: 300ms;
    transition: 300ms;
    z-index: 4;
    top: 0px;
    background-color: white;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 20px 20px 20px;
    width: 100%;
    min-height: 90px;
  }
  .card-product .card-bottom .title h4 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 28px;
  }
  .card-product .card-bottom .title .title-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-product .card-bottom .title .title-info h5 {
    margin-left: 10px;
    line-height: 24px;
  }
  .card-product .card-bottom .card-footer {
    z-index: 5;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 20px 0px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-product .card-bottom .card-footer .type-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-product .card-bottom .card-footer .type-card .circle {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    background-color: #FBA020;
    margin-right: 10px;
    font-size: 18px;
  }
  .card-product .card-bottom .card-footer .type-card h4 {
    font-weight: 500;
  }
  .card-product .card-bottom .card-footer .action-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-product .card-bottom .card-footer .action-card .circle {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #242429;
    background-color: rgba(137, 137, 137, 0.2);
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
  .card-product .card-bottom .card-footer .action-card .circle:hover {
    background-color: #FBA020;
    color: white;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
  .card-product:hover .card-top .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 13, 30, 0);
    position: absolute;
    z-index: 2;
  }
  .card-product:hover .card-bottom .title {
    -webkit-transition: 300ms;
    transition: 300ms;
    top: -40px;
    background-color: white;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 20px 20px 20px;
    width: 100%;
    min-height: 100px;
  }
  .card-product:hover .card-bottom .title .title-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #mobile {
    display: none;
  }
}
/*# sourceMappingURL=desktop-style.css.map */