@media only screen and (min-width: 1024px) {
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Italic.ttf");
    font-style: italic;
  }
  .App {
    font-family: "Poppins";
    font-size: 14px;
    color: #242429;
  }
  .App button {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  nav {
    position: fixed;
    z-index: 999;
    min-height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    -webkit-box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.04);
            box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.04);
  }
  nav .content {
    width: 90%;
  }
  nav .content .normal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
  }
  nav .content .normal .logo {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .content .normal .logo img {
    width: 150px;
  }
  nav .content .normal .search {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .content .normal .search .action-search.hidden {
    display: none;
  }
  nav .content .normal .search .action-search:hover {
    -webkit-box-shadow: 0px 3px 12px rgba(36, 36, 41, 0.1);
            box-shadow: 0px 3px 12px rgba(36, 36, 41, 0.1);
  }
  nav .content .normal .search .action-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 3px 6px rgba(36, 36, 41, 0.08);
            box-shadow: 0px 3px 6px rgba(36, 36, 41, 0.08);
    height: 45px;
    width: 300px;
    border-radius: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
  }
  nav .content .normal .search .action-search .text {
    width: 250px;
  }
  nav .content .normal .search .action-search .text h4 {
    margin-left: 20px;
    color: #898989;
  }
  nav .content .normal .search .action-search .circle {
    width: 30px;
    height: 30px;
    background-color: #FBA020;
    border-radius: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
    -webkit-box-shadow: 0px 10px 20px rgba(251, 160, 32, 0.2);
            box-shadow: 0px 10px 20px rgba(251, 160, 32, 0.2);
  }
  nav .content .normal .search ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .content .normal .search ul li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    position: relative;
  }
  nav .content .normal .search ul li a {
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
  }
  nav .content .normal .search ul li hr {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: transparent;
    border: none;
    -webkit-transition: 200ms;
    transition: 200ms;
    bottom: 15px;
  }
  nav .content .normal .search ul li:hover hr {
    -webkit-transition: 200ms;
    transition: 200ms;
    background-color: #242429;
  }
  nav .content .normal .search ul.hidden {
    display: none;
  }
  nav .content .normal .nav {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .content .normal .nav .pricing {
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .content .normal .nav .pricing button {
    background-color: white;
    color: #242429;
    -webkit-transition: 200ms;
    transition: 200ms;
    -webkit-box-shadow: 0px 3px 9px rgba(36, 36, 41, 0.06);
            box-shadow: 0px 3px 9px rgba(36, 36, 41, 0.06);
  }
  nav .content .normal .nav .pricing button:hover {
    color: #FBA020;
    -webkit-transition: 200ms;
    transition: 200ms;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav .content .normal .nav .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .content .normal .nav .auth button {
    background-color: #FBA020;
    color: white;
    -webkit-box-shadow: 0px 3px 9px rgba(251, 160, 32, 0.06);
            box-shadow: 0px 3px 9px rgba(251, 160, 32, 0.06);
  }
  nav .content .extend.hidden {
    display: none;
  }
  nav .content .extend {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    left: 0;
    background-color: rgba(36, 36, 41, 0.08);
  }
  nav .content .extend .extend-content {
    height: 100px;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .content .extend .extend-content .action-content {
    height: 65px;
    width: 700px;
    background-color: #FAFAFA;
    border: 1px solid rgba(36, 36, 41, 0.3);
    border-radius: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 30px 0px 30px;
    position: relative;
  }
  nav .content .extend .extend-content .action-content hr {
    height: 30px;
    width: 1px;
    border: none;
    background-color: #898989;
  }
  nav .content .extend .extend-content .action-content .choose {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  nav .content .extend .extend-content .action-content .choose h5 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
  }
  nav .content .extend .extend-content .action-content .choose h4 {
    margin-left: 15px;
    font-size: 14px;
    color: #898989;
  }
  nav .content .extend .extend-content .action-content .choose-location {
    width: 33%;
  }
  nav .content .extend .extend-content .action-content .choose-location.active {
    position: absolute;
    z-index: 2;
  }
  nav .content .extend .extend-content .action-content .choose-distance {
    width: 33%;
  }
  nav .content .extend .extend-content .action-content .choose-type {
    width: 33%;
  }
  .home-page .main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .home-page .main .bg-main {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .home-page .main .bg-main img {
    min-width: 100%;
    min-height: 100%;
  }
  .home-page .main .bg-main .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 41, 0.3);
    z-index: 2;
  }
  .home-page .main .content {
    position: relative;
    z-index: 3;
    width: 90%;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .home-page .main .content .form-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 200px;
  }
  .home-page .main .content .form-main .action-content {
    height: 65px;
    width: 700px;
    background-color: #FAFAFA;
    border: 1px solid rgba(36, 36, 41, 0.3);
    border-radius: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 30px 0px 30px;
    position: relative;
    margin-bottom: 10px;
  }
  .home-page .main .content .form-main .action-content hr {
    height: 30px;
    width: 1px;
    border: none;
    background-color: #898989;
  }
  .home-page .main .content .form-main .action-content .choose {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .home-page .main .content .form-main .action-content .choose h5 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
  }
  .home-page .main .content .form-main .action-content .choose h4 {
    margin-left: 15px;
    font-size: 14px;
    color: #898989;
  }
  .home-page .main .content .form-main .action-content .circle {
    position: absolute;
    right: 5px;
    background-color: #FBA020;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 24px;
  }
  .home-page .main .content .form-main .action-content .choose-location {
    width: 33%;
  }
  .home-page .main .content .form-main .action-content .choose-location.active {
    position: absolute;
    z-index: 2;
  }
  .home-page .main .content .form-main .action-content .choose-distance {
    width: 33%;
  }
  .home-page .main .content .form-main .action-content .choose-type {
    width: 33%;
  }
  .home-page .main .content .form-main form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page .main .content .form-main form .form-group {
    border-radius: 30px;
    position: absolute;
    width: 300px;
    min-height: 50px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.1);
            box-shadow: 0px 5px 15px rgba(36, 36, 41, 0.1);
    padding: 30px 20px 30px 20px;
    display: none;
  }
  .home-page .main .content .form-main form .form-group .location-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .main .content .form-main form .form-group .location-content .box {
    width: 45px;
    height: 45px;
    border: 1px solid #898989;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    color: #FBA020;
    margin-right: 20px;
  }
  .home-page .main .content .form-main form .form-group .location-content .text h4 {
    font-size: 16px;
    color: #898989;
  }
  .home-page .main .content .form-main form .form-group .distance-content {
    position: relative;
    width: 100%;
  }
  .home-page .main .content .form-main form .form-group .distance-content .text {
    margin-bottom: 20px;
  }
  .home-page .main .content .form-main form .form-group .distance-content .text h4 span {
    font-weight: 500;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider {
    margin-bottom: 20px;
    position: relative;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .bg-range {
    background-color: #FBA020;
    opacity: 0.7;
    height: 15px;
    position: absolute;
    top: 2px;
    border-radius: 15px 0px 0px 15px;
    z-index: 8;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    height: 15px;
    background: #FAFAFA;
    outline: none;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    border-radius: 15px;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .slider:hover {
    opacity: 1;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #FBA020;
    -webkit-box-shadow: 0px 5px 15px rgba(251, 160, 32, 0.5);
            box-shadow: 0px 5px 15px rgba(251, 160, 32, 0.5);
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 9;
  }
  .home-page .main .content .form-main form .form-group .distance-content .card-slider .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #FBA020;
    border-radius: 50%;
    cursor: pointer;
  }
  .home-page .main .content .form-main form .form-group .type-content {
    width: 100%;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li {
    margin-bottom: 20px;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li h4 {
    font-weight: 500;
    font-size: 16px;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li p {
    line-height: 24px;
    color: #898989;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li hr {
    display: block;
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background-color: rgba(36, 36, 41, 0.1);
    border: none;
  }
  .home-page .main .content .form-main form .form-group .type-content ul li:last-child {
    margin-bottom: 0;
  }
  .home-page .main .content .form-main form .location.active {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .main .content .form-main form .distance.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .main .content .form-main form .type.active {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .main .content .title {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .main .content .title h1 {
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
  }
  .home-page .main .content .title p {
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 24px;
    margin-top: 15px;
  }
  .home-page .main .content .title button {
    margin-top: 30px;
    background-color: #FBA020;
    color: white;
  }
  #mobile {
    display: none;
  }
}
/*# sourceMappingURL=desktop-style.css.map */